* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    background-color: #ececec;
}
.textc{
    text-align: center;
    transform: translateY(200px);
}

.container {
    width: 90%;
    /* background-color: #ececec; */
    height: 700px;
    margin: auto;
}


.para-lx{
    width: 47%;
    float: right;
    padding: 30px;
}
.para-rx{
    width: 47%;
    float: left;
    padding: 30px;
}
.para-lx h2, .para-rx h2{
    font-size: 35px;
    color: #000000;
    padding-bottom: 20px;
}
.para-lx p, .para-rx p{
    font-size: 20px;
}
.para-lx button, .para-rx button{
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease ;
}

.scroll-animation-lx {
    float: left;
    width: 45%;
    height: auto;
    opacity: 0;
    transform: translatex(-100px);
    overflow: hidden;
}
.scroll-animation-rx {
    float: right;
    width: 50%;
    height: auto;
    opacity: 0;
    transform: translatex(100px);
    overflow: hidden !important;
}

.scroll-animation-lx img,
.scroll-animation-rx img {
    width: 100%;
    height: auto;

}

.scroll-animation-on-lx {
    opacity: 1 !important;
    transform: translateX(0) !important;
    overflow: hidden;
    transition: .5s all ease !important;
}

.scroll-animation-on-rx {
    opacity: 1 !important;
    transform: translateX(0) !important;
    transition: .5s all ease !important;
    overflow: hidden !important;
}